* {
	box-sizing: border-box;
	font-family: Agency FB;
	text-decoration: none; 
	list-style-type: none;
}

html, body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

body {
	background-image: linear-gradient(to bottom right, #b1d182 0%, #b1d182 50%, #688f4e 10%, #688f4e 100%);
	background-repeat: no-repeat;
}

img[alt="www.000webhost.com"] {
    display : none;
}

nav {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-49%, -25%);
}

td {
	width: 40px;
}

td.btn {
	width: 185px;
}

td.btn a img {
	width: 185px;
	height: 185px;
}

td.btn p {
	font-size: 30px;
	color: white;
}

table {
    text-align: center;
	vertical-align: middle;
    height: 215px;
    width: 860px;
} 

.btn {
	padding: 16px 32px;
	text-align: center;
	font-size: 40px;
	margin: 4px 2px;
	transition: 0.3s;
}

.btn:hover {
	transform: scale(1.25);
}

header {
	position: relative;
	width: 100vw;
	margin-top: 140px;
}

h1 {
	color: ;
	text-align: center;
	font-size: 140px;
	font-weight: bold;
}

.hiddentext {
	display: none;
}

.h3 {
	font-size: 50px;
}

body > p {
	position: absolute;
	bottom: 0;
	right: 0;
	color: black;
}

p > a {
	color: black;
}